main{
    margin-top: 120px;
}
.banner-img{
    position: relative;
    width: 100%;
}
.banner-img img{
    width: 100%;
}
.banner-content{
    position: absolute;
    left: 0;
    top: 35%;
    bottom: 50%;
    transform: translate(15%, -50%);
    width: 530px;
}
.banner-content p{
    color: white;
    font-weight: 700px;
}
.banner-content h2{
    color: var(--button_color);
    font-weight: 700px;
}
.infomation{
    display: flex;
    margin-top: 10px;
}
.infomation img{
    max-width: 30px;
    width: 100%;
}
.infomation p{
    margin:0px 10px;
}
.topicofsubs{
    margin: 20px 0px;
    text-align: center;
}
.brand-row{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}
.brand-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.brand-logo img{
    max-width: 60px;
    width: 100%;
    margin: 0px 10px;
}
.brand-logo-deli img{
    max-width: 100px;
    width: 100%;
}
.brand-col hr{
    width: 90%;
    padding: 1px;
}
.subcriptions{
    background-color: rgb(250, 242, 234);
    margin-top: 20px;
    padding: 70px 20px;
    text-align: center;
}
.subs-img img{
    max-width: 70px;
    width: 100%;
    margin: 10px 0px;
}
.subs-topic{
    color: var(--button_color);
}
.season p{
    text-align: center;
}
.season-topic {
    text-align: center;
    padding: 20px;
  }
  
  .season-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 24px;
  }
  
  .season-buttons button {
    background-color: var(--button_color);
    color: white;
    padding: 15px 40px;
    width: 120px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .season-buttons button:hover {
    background-color: #061625;
  }

  .season-flowers {
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    align-items: start;
    justify-items: center;
  }
  
.season-flowers.active {
    display: grid;
  }
  .season-flowers img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
  }